<tr>
  <th scope="row"><%= employee.id %></th>
  <td><%= employee.first_name %></td>
  <td><%= employee.last_name %></td>
  <td><%= employee.address_line_1 %></td>
  <td><%= employee.phone %></td>
  <td>
  	<%= link_to "Edit", edit_employee_department_employee_path(params[:employee_department_id], employee), class:"btn btn-md btn-warning", remote: true  %>
  	<%= link_to "Delete", employee_department_employee_path(params[:employee_department_id], employee), class: "btn btn-md btn-danger", remote: true, method: :delete %>  	
  </td>
</tr>