<%= form_for [@employee_department, @employee], remote: true do |f| %>
<div class="modal-body">
	<% if @employee.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<% @employee.errors.full_messages.each do |e| %>
				<%= e %><br />
			<% end %>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :first_name, class: "label-control" %>
		<%= f.text_field :first_name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :last_name, class: "label-control" %>
		<%= f.text_field :last_name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :address_line_1, class: "label-control" %>
		<%= f.text_area :address_line_1, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :email, class: "label-control" %>
		<%= f.email_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :phone, class: "label-control" %>
		<%= f.phone_field :phone, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :mobile, class: "label-control" %>
		<%= f.phone_field :mobile, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :employee_department_id, class: "label-control" %>
		<%= f.collection_select :employee_department_id, EmployeeDepartment.where(active: true), :id, :name, {}, class: "select2" %>
	</div>
                
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save", class: "btn btn-primary-outline" %>
</div>
<% end %>