<div class="row">
	<h2>Employees</h2>
</div>
<div class="row">
	<table id="employees-table" class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th>#</th>
	      <th>First name</th>
	      <th>Last name</th>
	      <th>Address</th>
	      <th>Phone</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @employees.each do |employee| %>
	    <%= render 'employees/employee', employee: employee %>
	  <% end %>
	  </tbody>
	</table>
	<%= link_to "New Employee", new_employee_department_employee_path(params[:employee_department_id]), remote: true, class: "btn btn-md btn-primary" %>
</div>