<div class="col-sm-3">	
  <div class="card card-block">
    <h3 class="card-title"><%= employee_department.name %></h3>
    <p class="card-text">Employees: <%= employee_department.employees.count %></p>
    <%= link_to "Employees", employee_department_employees_path(employee_department), class: "btn btn-md btn-warning pull-md-left" %>
    <%= link_to "Edit", edit_employee_department_path(employee_department), remote: true, class: "btn btn-md btn-info pull-md-right" %>
  </div>
</div>