<%= form_for @employee_department, remote: true do |f| %>
<div class="modal-body">
	<% if @employee_department.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<% @employee_department.errors.full_messages.each do |e| %>
				<%= e %><br />
			<% end %>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :name, class: "label-control" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>	
	<div class="form-group">
		<%= f.label :active, class: "label-control" %>
		<%= f.check_box :active, class: "form-control" %>
	</div>
                
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save", class: "btn btn-primary-outline" %>
</div>
<% end %>