<div class="row">
	<h2>Departments</h2>
	<%= link_to "Create", new_employee_department_path, class: "btn btn-md btn-primary", remote: true %>
</div>
<br />
<div class="row" id="employee-departments-container">
	<% @employee_departments.each do |employee_department| %>
		<%= render 'employee_departments/employee_department', employee_department: employee_department %>
	<% end %>
</div>