<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Users</h6>
                <h1 class="display-1"><%= @users %></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card card-inverse card-danger">
            <div class="card-block bg-danger">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Companies</h6>
                <h1 class="display-1"><%= @companies %></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <div class="rotate">
                    <i class="fa fa-twitter fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Tweets</h6>
                <h1 class="display-1">125</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <div class="rotate">
                    <i class="fa fa-share fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Shares</h6>
                <h1 class="display-1">36</h1>
            </div>
        </div>
    </div>
</div>
<!--/row-->