<script>
	$(document).ready(function(){
		$('#calendar').fullCalendar({});
	})
</script>
<!--div class="row">
	<div class="col-md-4">
		<div class="card">
		  <h3 class="card-header">Šifarnici</h3>
		  <div class="card-block">    
		    <p class="card-text">
		    	<div class="list-group">
		    		<%#= link_to "Type", "#", class: "list-group-item" %>
		    	</div>
		    </p>		    
		  </div>
		</div>
	</div>
</div-->


<div class="row">
	<div class="col-md-10">
		<div id="calendar"></div>		
	</div>
</div>