<tr>
  <th scope="row"><%= company.id %></th>
  <td><%= company.name %></td>
  <td><%= company.address %></td>
  <td><%= company.website %></td>
  <td><%= company.phone %></td>
  <td>
  	<%= link_to "Edit", edit_company_path(company), class:"btn btn-md btn-warning", remote: true  %>
  	<%= link_to "Delete", company_path(company), class: "btn btn-md btn-danger", remote: true, method: :delete %>  	
  </td>
</tr>