<%= form_for @company, remote: true do |f| %>
<div class="modal-body">
	<% if @company.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<% @company.errors.full_messages.each do |e| %>
				<%= e %><br />
			<% end %>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :name, class: "label-control" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :address, class: "label-control" %>
		<%= f.text_area :address, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :website, class: "label-control" %>
		<%= f.text_field :address, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :email, class: "label-control" %>
		<%= f.email_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :phone, class: "label-control" %>
		<%= f.phone_field :phone, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :mobile, class: "label-control" %>
		<%= f.phone_field :mobile, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :fax, class: "label-control" %>
		<%= f.phone_field :fax, class: "form-control" %>
	</div>
                
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save", class: "btn btn-primary-outline" %>
</div>
<% end %>