<div class="row">
	<h2>Companies</h2>
</div>
<div class="row">
	<table id="companies-table" class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Address</th>
	      <th>Username</th>
	      <th>Phone</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @companies.each do |company| %>
	    <%= render 'companies/company', company: company %>
	  <% end %>
	  </tbody>
	</table>
	<%= link_to "New company", new_company_path, remote: true, class: "btn btn-md btn-primary" %>
</div>