<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-header">
      Log in
    </div>
    <div class="card-block">
      <div class="col-sm-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-inline">
            <div class="form-group">
              <%= f.submit "Log in", class: "btn btn-md btn-primary" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>            
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <%= render "devise/shared/links" %>
    </div>
  </div>  
</div>