<%= form_for @work_order do |f| %>
	<div class="form-group">
		<%= f.label :name, class: "label-control" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :description, class: "label-control" %>
		<%= f.text_area :description, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :start_date, class: "label-control" %>
		<%= f.text_field :start_date, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :end_date, class: "label-control" %>
		<%= f.text_field :end_date, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :whole_day_task, class: "label-control" %>
		<%= f.check_box :whole_day_task, class: "form-control" %>
	</div>
	<div class="form-group pull-md-right">
		<%= link_to "Cancel", work_orders_path, class: "btn btn-md btn-danger" %>
		<%= f.submit "Save", class: "btn btn-md btn-primary" %>
	</div>
<% end %>