<tr>
	<th scope="row"><%= work_order.id %></th>
	<td><%= work_order.name %></td>
	<td><%= work_order.company.name %></td>
	<td><%= work_order.start_date %></td>
	<td><%= work_order.end_date %></td>
</tr>