<div class="row">
	<h1>Work Orders</h1>
</div>
<div class="row">
	<table id="work-orders-table" class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Company</th>
	      <th>Start from</th>
	      <th>Ends at</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @work_orders.each do |work_order| %>
				<%= render 'work_orders/work_order', work_order: work_order %>
	  	<% end %>
	  </tbody>
	</table>
	<%= link_to "New work order", new_work_order_path, class: "btn btn-md btn-primary" %>
</div>
