<div class="row">
	<div class="col-md-12">
		<div class="card">
		  <h3 class="card-header">New Work Order</h3>
		  <div class="card-block">    
		    	<%= render "work_orders/form" %>	    
		  </div>
		</div>
	</div>
</div>