<!DOCTYPE html>
<html>
  <head>
    <title>CrmMini</title>
    <%= csrf_meta_tags %>		
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <title>Bootstrap 4 Dashboard</title>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        ☰
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
    	<% if user_signed_in? %>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item active">
            	<%= link_to root_path, class: "nav-link" do %>
            		Home <span class="sr-only">Home</span>
            	<% end %>
            </li>
            <li class="nav-item">
            	<%= link_to "Profile", "#", class: "nav-link" %>
            </li>            
            <li class="nav-item">
            	<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>	          
        </ul>
        <% end %>
    </div>
</nav>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
    <% if user_signed_in? %>
        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><%= link_to "Companies", companies_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Departments", employee_departments_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Work Orders", work_orders_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Settings", settings_path, class: "nav-link" %></li>
            </ul>
        </div>
        <!--/col-->
     <% end %>

        <div class="col-md-9 col-lg-10 main">
            <!--toggle sidebar button-->
            <p class="hidden-md-up">
                <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
            </p>

            

            <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Holy guacamole!</strong> It's free.. this is an example theme.
            </div>
						<%= yield %>

        </div>
        <!--/main col-->
    </div>

</div>
<!--/.container-->
<footer class="container-fluid">
    <p class="text-right small">©2015 Company</p>
</footer>

<%= render 'home/modal' %>

  </body>
</html>
